#pogrubienie_osypenko{
	color: #F67416;
	font-size: 35px;
}
#pochylona_osypenko {
	color: #F94AD4;
	font-size: 38pt;
	font-weight: 900;
}
#index_gorny_osypenko {
	color: #15214040;
	font-size: 1.3cm;
	font-style: Arial;
}
#index_dolny_osypenko {
	color: #421817;
	font-size: 2.1cm;
}
#mono_osypenko {
	color: #2C2BD4;
	font-size: 42px;
	font-weight: 900;
}
#powiekszenie_osypenko {
	color: #766015;
	font-size: 15pt;
	font-style: Arial;
}
#pomniejszenie_osypenko {
	color: #121648;
	font-size: 15pt;
	font-style: Arial;
}
